/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Utils */
.product-card {
  display: flex;
  width: 30%;
  height: 500px;
  margin: 10px;
  flex-direction: column;
  position: relative;
}

.product-card-price {
  display: flex;
  gap: 5px;
}

.container {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

.text-container {
  height: fit-content;
}

.image-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tag {
  color: white;
  width: fit-content;
  padding: 3px 10px;
  font-weight: bold;
}

.tag-container {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 80px;
}

/* Main */

.main .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.product-card:hover .image-container:last-of-type {
  display: block;
}

.product-card:hover .image-container:first-of-type {
  display: none;
}

.product-card .image-container:last-of-type {
  display: none;
}
/* SPAM */
.red {
  color: red;
}
.redbg {
  background-color: red;
}

.greenbg {
  background-color: green;
}

.blacktxtwhitebg {
  background-color: white;
  color: black;
}

.topright {
  position: absolute;
  top: 20px;
  right: 0px;
}
