/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Utils */
.product-card {
  display: flex;
  width: 30%;
  height: 500px;
  margin: 50px 10px;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

.text-container {
  height: fit-content;
}

.image-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Main */

.main .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}

.product-card:hover .image-container:last-of-type {
  display: block;
}

.product-card:hover .image-container:first-of-type {
  display: none;
}

.product-card .image-container:last-of-type {
  display: none;
}
